@import url('https://fonts.googleapis.com/css2?family=Liter&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Override the font for body, headings, and other text */
body, h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: "Roboto", sans-serif !important;
}

p, ul, ol, li {
  color: #525252;
  line-height: 1.6;
}


h3 {
  font-weight: 500;
  margin-top: 1.9rem !important;
  margin-bottom: 10px !important;
}

strong, h3 {
  font-weight: 500;
  color: #1e0010;
}

hr {
  margin-top: 4px;
  margin-bottom: 12px;
  background-color: rgba(97, 99, 105, 0.82);
}



code span {
  line-height: 0.1 !important;
  font-weight: 200;
  font-size: 0.8rem;
}
